html
{
    position: relative;
    min-height: 100%;
}
.bg
{
    background-color: lightblue;
    text-align:center;
    background-image: url("nmims-logo.jpg");
}


.custom-container
{
    overflow: auto;
    background-color: #333;
    font-family: Arial;
}

.custom-container a
{
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.custom-dropdown 
{
    float: left;
    overflow: hidden;
}

.custom-dropdown .dropbtn
{
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.custom-container a:hover, .custom-dropdown:hover .dropbtn
{
    background-color: red;
}

.custom-dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.custom-dropdown-content a 
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.custom-dropdown-content a:hover
{
    background-color: #ddd;
}

.custom-dropdown:hover .custom-dropdown-content 
{
    display: block;
}


.active 
{
    background-color: #4CAF50;
}

footer
{
    display:none;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;

}

.css-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
}

#snackbar
{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show
{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

-webkit-keyframes fadein
{
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

keyframes fadein
{
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

-webkit-keyframes fadeout 
{
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

keyframes fadeout 
{
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.assetField{
    display: none;
}

.makeTypeField{
    display: none;
}